@model IEnumerable<MusteriYonetimSistemi.Models.ViewModels.CustomerOrderViewModel>

<div class="tablo">


    <table id="orderTable" class="table">
        <caption>Order Data</caption>
        <thead>
            <tr>
                <th>OrderID</th>
                <th>UnitPrice</th>
                <th>Quantity</th>
                <th>CustomerID</th>
                <th>CustomerName</th>
                <th>CustomerSurName</th>
                <th>Address</th>
                <th>City</th>
                <th>Region</th>
                <th>PostalCode</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <!-- Customer data will be dynamically added here -->
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderID</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Quantity</td>
                    <td>@item.CustomerID</td>
                    <td>@item.CustomerName</td>
                    <td>@item.CustomerSurName</td>
                    <td>@item.Address</td>
                    <td>@item.City</td>
                    <td>@item.Region</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Country</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>

                </tr>
            }

        </tbody>
    </table>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">

<!-- jQuery DataTable -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>


<script>
    $("#orderTable").DataTable();



</script>
